.content-wrapper.visitor {
    margin-left: 0px;
}

.navbar-static-top.visitor {
    margin-left: 0px;
}

ul.navbar-nav li a.active {
    background: rgba(0, 0, 0, 0.1) !important;
    color: #f6f6f6 !important;
}

#employees input,
#employees button,
#employees select {
    margin-right: 10px;
}
